
*{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    background-color: #081b31;
    color: white;
    padding: 10px;
}

.choice {
    height: 165px;  
    width: 165px;
    display: flex;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
}

.choice:hover{
    opacity: 0.6;
    cursor: pointer;
    background-color:  rgba(0, 0, 0, 0.879);
}

img{
    height: 150px;
    width: 150px;
    border-radius: 100%;
    object-fit: cover;
}

.choices {
    display: flex;
justify-content: center;
margin: 30px;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin: 10px;
    gap: 5rem;
}
#user-score,
#computer-score{
    font-size: 4rem;
    margin: 10px;
}
.msg-container{
    margin-top: 3rem;
}
#msg{
    background-color: #081b31;
    color: white;
    font-size: 9vh;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}

@media (max-width: 768px) {
    .choice {
        height: 120px;
        width: 120px;
    }

    img {
        height: 100px;
        width: 100px;
    }

    .score-board {
        font-size: 1.5rem;
        gap: 2rem;
    }

    #user-score,
    #computer-score {
        font-size: 2.5rem;
    }
    .msg-container{
        max-height: auto;
        max-width: auto;
    }
    #msg {
        font-size: 6vh;
    }
}

@media (max-width: 480px) {
    .choice {
        height: 80px;
        width: 80px;
    }

    img {
        height: 70px;
        width: 70px;
    }

    .score-board {
        font-size: 1rem;
        gap: 1rem;
    }

    #user-score,
    #computer-score {
        font-size: 1.5rem;
    }
    .msg-container{
        max-height: auto;
        max-width: auto;
    }
    #msg {
        font-size: 2vh;
    }